.Datos{
    color: chocolate;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Lucida Sans';    
}
.nombre{
    color: goldenrod;
    font-family: "Lucida Sans";
}
.apellido{
    color: goldenrod;
    font-family: "Lucida Sans";
}
.fecha{
    color: goldenrod;
    font-family: "Lucida Sans";
}
.info{
    color: goldenrod;
    font-family: "Lucida Sans";
}
#cbox1{
    color: orange;
    font-family: "Lucida Sans";
    
}
#cbox1{
    margin: 10px;
    display: inline-block;
    text-align: justify;
}